@font-face {
    font-family: 'Climate_crisis';
    src: url('../fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlfSlabOne';
    src: url('../fonts/AlfaSlabOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

header {
    background: #404d5a;
    color: white;
    padding: 1rem;
    font-family: 'Climate_crisis', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.site-title {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding-right: 2rem;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 0.875rem; /* Lower the font size for the About link */
    padding-right: 5rem;
}

.nav-link:hover {
    text-decoration: underline;
}

main {
    max-width: 950px;
    margin: 8rem auto 2rem auto;
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 18px;
}

footer {
    background: white;
    color: #404d5a;
    padding: 1rem;
    font-size: 16px;
    line-height: 1.6;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.footer-description {
    text-align: left;
    max-width: 250px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
}

.footer-content p {
    margin: 0.5rem 0;
}

.footer-content a {
    color: #404d5a;
    text-decoration: none;
    margin: 0.5rem 0rem; /* Add margin between links */
    font-weight: bold;
}

.footer-content a:hover {
    text-decoration: underline;
}

.climate-crisis {
    font-family: 'Climate_crisis', Arial, sans-serif;
}

.roboto {
    font-family: 'Roboto', Arial, sans-serif;
}

.team-member {
    margin-bottom: 2rem;
}

.team-member h2 {
    font-family: 'AlfSlabOne', Arial, sans-serif;
    font-size: 1.5rem;
    color: black;
}

.team-member p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    color: black;
}

.about-title {
    font-family: 'Climate_crisis', Arial, sans-serif;
    color: #404d5a;
    padding-bottom: 4rem; /* Adjust the padding value as needed */
}

.index-title {
    font-family: 'Climate_crisis', Arial, sans-serif;
    color: #404d5a;
    padding-bottom: 4rem; /* Adjust the padding value as needed */
}

.data-story-content {
    width: 100%;
    box-sizing: border-box;
}

.data-story-content iframe,
.data-story-content .plotly-graph-div {
    width: 100%;
    height: auto;
    text-align: center;
}

/* Plot Container */
.plot-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* Remove height constraint */
    /* height: auto; */
}

/* Plot Items */
.plot-item {
    flex: 1 1 45%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

/* Ensure Plots Do Not Exceed Container Width */
.plot-item img,
.plot-item svg,
.plot-item div {
    max-width: 100%;
}

/* Text Below Plots */
.plot-text {
    width: 100%;
    text-align: left;
    margin-top: 20px;
}